*{
  margin: 0px;
  padding: 0px;
}

.header {
  height: 80px;
  background-color: rgb(222, 222, 244);
  padding: 10px 30px;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  height: 500px;
  padding: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
}
